
#home{
  display: flex;
  justify-content: center;
  margin-top: -2rem;
}

.section_wrapper{
  /* margin-top: 6rem; */
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section__description{
  color: rgb(121, 121, 121);
  margin-bottom: 1.5rem;
}