@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body,
input {
font-family: "Poppins", sans-serif;
background: #9D61F0;
}

#formQuiz{
    margin:0  auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 25px;
    width: 50%;
    min-width: 400px;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.title {
    font-size: 2.2rem;
    color: #444;
    text-align: center;
    margin-bottom: 2rem;
}


.intro-text{
  margin-bottom: 3rem;
}

.wrapper-container{
  margin: 0 auto;
  display: grid;
  gap: 1.5rem;
}

@media (min-width: 600px) {
  .wrapper-container { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
  .wrapper-container { grid-template-columns: repeat(3, 1fr); }
}

.wrapper-container .card{
  background-color: #8338EC;
  border-radius: 10px;
  color: #F6F1FE;
  cursor: pointer;
  padding: 1rem;
  height: 200px;
}

.wrapper-container .card:hover{
  opacity: .9;
}

.card i{
  display: flex;
  width: 100%;
  margin-top: 1rem;
  font-size: 100px;
  justify-content: center;
}

.card p{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top:1rem ;
}

a{
  text-decoration: none;
}