.loading{
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 999;
  height: 100%;
  color: white;
}

.loading label{
  font-size: 24px;
}