@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  scroll-behavior: smooth;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

body{
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
}

/* LAYOUT */
.container{
  max-width: 968px;
  margin: auto;
}

.section{
  padding: 7rem 0 2rem;
}

.section__title{
  font-size: 2.5rem;
  color: #454343;
  text-align: center;
  margin-bottom: 1.5rem;
}

.section__description{
  color: #454343;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

.section__height{
  height: 100vh;
}

/* HEADER */
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 100;
  transition: 0.4s;
}

/* NAVBAR */
.nav{
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo{
  color: #454343;
  font-weight: 700;
  font-size: 1.25rem;
}

.nav__name{
  font-weight: 600;
}

.nav__icon{
  font-size: 1.5rem;
}

.nav__list, .nav__link{
  display: flex;
}

.nav__list{
  justify-content: space-around;
  column-gap: 3rem;
}

.nav__link{
  flex-direction: column;
  align-items: center;
  color: #454343;
  row-gap: 0.25rem;
}

.nav__link:hover{
  color: #5b75ad;
}

i.nav__icon{
  display: none;
}

.active__link{
  position: relative;
  color: #5b75ad;
  transition: .3s;
}

@media screen and (min-width:769px){
  .active__link::before{
    content:'';
    position: absolute;
    bottom: -.4rem;
    width: 1rem;
    height: 3px;
    background-color: #5b75ad;
    border-radius: 3px;
  }
}

@media screen and (max-width:992px){
  .container{
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

@media screen and (max-width:768px){
  .nav__menu{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    display: grid;
    align-content: center;
    border-radius: 1.25rem 1.25rem 0 0;
    transition: .4s;
    box-shadow: 0 -1px 12px rgba(59, 59, 59, 0.25);
  }

  .nav{
    height: 3rem;
  }

  i.nav__icon{
    display: block;
  }

  .section__title{
    font-size: 1.5rem;
  }

  .swiper-courses{
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width:576px){
  .nav__list{
    justify-content: center;
  }

}

.swiper {
  height: 125px;
  cursor: pointer;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #FFC72D;
  border-radius: 8px;
  color: #454343;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide i{
  font-size: 48px;
  margin-bottom: 0.5rem;
}

.swiper-slide p{
  font-size: 14px;
}

.swiper-courses{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));  
  padding: 10px;
}

a.swiper-course-slide{
  text-decoration: none;
  color: rgb(75, 75, 75);
  border-radius: 8px;
  border:3px solid #2196F3;
  padding: 15px;
  margin: 5px;
  margin-bottom: .5rem; 
  display: flex;
  align-items: center;
}

.swiper-course-slide i{
  padding-right: .3em;
  font-size: 40px;
  border-right: 2px solid rgb(75, 75, 75);
}

.swiper-course-slide p{
  text-align: center;
  padding-left:.5rem ;
}