@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body,
input {
font-family: "Poppins", sans-serif;
background: #9D61F0;
}

#formQuiz{
    margin:0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 25px;
    width: 50%;
    min-width: 400px;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.title {
    font-size: 2.2rem;
    color: #444;
    text-align: center;
    margin-bottom: 2rem;
}

input{
    font-size: 15px;
    margin: 1rem 5px 2rem 15px;
}

.intro-text{
  margin-bottom: 5%;
}

textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
    }

#error{
  display: none;
}

#error.input-field-error {
  max-width: 380px;
  text-align: center;
  border: 1px solid red;
  color: red;
  padding-top: 7px;
  margin: 2rem auto;
  height: 40px;
  border-radius: 55px;
  transition: 0.3s;
}

.tab {
    display: none;

  }

  .wrapper-tab{
    text-align: center;
    border-radius: 10px;
    background: #f3f3f3c5;
    margin-bottom: 1rem;
  }

  .wrapper-tab .tab-text{
    padding: 1rem 1rem;
    font-weight: 600;
  }
  
  button {
    background-color: #04AA6D;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  #prevBtn {
    background-color: #bbbbbb;
  }
  

  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  .step.active {
    opacity: 1;
  }
  

  .step.finish {
    background-color: #04AA6D;
  }




