@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body,
input {
font-family: "Poppins", sans-serif;
}

#formQuiz{
    margin: 100px auto;
    padding: 40px;
    width: 50%;
    min-width: 400px;
}

.title {
    font-size: 2.2rem;
    color: #444;
    text-align: center;
    margin-bottom: 10px;
}

input{
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 40px;
    border-radius: 10px;
    padding: 12px;
    border: none;
    font-size: 15px;
}

textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
    }

/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
  }

/* Hide all steps by default: */
.tab {
    display: none;
  }
  
  button {
    background-color: #04AA6D;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  #prevBtn {
    background-color: #bbbbbb;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #04AA6D;
  }

